@{
//Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link href="~/Content/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/icon.png" type="image/png">
    <style>
        article p {
            text-indent: 30px;
        }

        article li {
            margin-left: 80px;
        }
    </style>
</head>
<body>
    <header>
        <a href="/" class="logo">
            <h1>
                Booking
            </h1>
        </a>
        <nav>
            <ul class="nav">
                <a href="/catalog">
                <li class="nav-item">Каталог</li></a>
                <a href="/booked">
                <li class="nav-item">Мои номера</li></a>
                <a href="/Account/Login">
                <li class="nav-item">Войти</li></a>
                <a href="/Account/Signin">
                <li class="nav-item">Зарегистрироваться</li></a>
            </ul>
        </nav>
    </header>

    <article>
        <h2 style="text-align: center">Введение</h2> <br /><br/>
        <p>Глобальная компьютерная сеть Интернет в современном мире оказывает исторически непревзойденное влияние на жизнь людей. Прочно вошла в повседневность эпоха электронного проникновения во все сферы человеческой жизни, это нечто большее, чем просто маркетинговая кампания, это основа новой философии и новой деловой стратегии. Сейчас сложилось правило, что если нельзя или сложно найти представительство компании в Сети, то у такой компании клиентская база небольшая, а, следовательно, и прибыль также невелика. Поэтому каждая фирма стремится создать свой собственный сайт.</p><br>
        <p>Создание Web-сайтов является одной из важнейших технологий разработки ресурсов Интернет. Web-сайт - это источник информации, состоящий из связанных между собой гипертекстовых документов, размещенный на сервере и имеющий определенный сетевой адрес. К текущему моменту создано большое количество способов по улучшению вебресурсов. Но необходимость «улучшения» сайта важна уже и на этапе разработки. От особенностей создания веб-сайта зависит его качество, удобство и внешний вид.</p><br>
        <p>Важные особенности создания сайтов, которым нужно уделить достаточно времени – дизайн, контент, скорость загрузки страниц, раскрутка, логическая структура сайта, содержащаяся на сайте информация не должна содержать ошибок в информации. Эти и другие требования к самому вебресурсу бесспорно должны учитываться при его создании. Но не менее актуальна и скорость, и удобство, и возможности программиста при непосредственно разработке (написании) сайта.</p><br>
        <p>Программисту необходимо определить дальнейшую стратегию работы. Есть три пути разработки:</p><br>
        <ul>
            <li>написание исходного кода «с нуля». Как преимущество можно выделить – вариативность. Ограничением может быть только знания и умения программиста. Но и главный минус – трудоемкость процесса, временные затраты. Потребуется значительное количество усилий для тестирования полученного продукта и поиска его изъянов;</li>
            <li>использование программных сред специального назначения, своеобразных каркасов, используемых для того, чтобы существенно облегчить процесс объединения определенных компонентов при создании программ. При этом существуют определенные ограничения – существует основа, в которую нужно добавить определенное количество требуемых компонентов. Данный вариант подходит для тех, кто немного разбирается в программировании;</li>
            <li>альтернативный вариант – использование готовой CMS. Данный вариант является идеальным для людей, которые мало понимают в веб-разработки. Можно оперативно создать сайт, соответствующий определенным задачам внося необходимые коррективы через административную панель. Но данный главный минус – Большое количество ограничений.</li>
        </ul><br />
        <p>
            Исходя из анализа подходов к созданию сайтов, можно определить, что обладая необходимым уровнем подготовки и используя технологические платформы для веб-разработки можно добиться эффективности при «написании» сайтов.
        </p><br>
        <p>На основе вышеизложенного была сформулирована цель курсовой работы – реализация «booking» сайта на основе фреймворка ASP.NET.</p><br>
        <p>Для достижения поставленной цели необходимо решение следующих задач:</p><br>
        <ul>
            <li>
                дать определение понятию «фреймворк»;
            </li>
            <li>
                изучить историю и развитие технологии ASP;
            </li>
            <li>
                сформулировать требования к сайту;
            </li>
            <li>
                реализовать сайт на платформе ASP.NET/
            </li>

        </ul>
        <br />
        <p>
            Объект исследования – процесс написания серверной и клиентской части сайта.
        </p>
        <p> Предмет исследования – веб-платформа ASP.NET.</p>
        <p> Основные методы научного исследования, использованные при выполнении курсового проекта:</p><br>
        <ul>
            <li>
                анализ,
            </li>

            <li>
                синтез,
            </li>
            <li>
                моделирование,
            </li>
            <li>
                аналогия,
            </li>
            <li>
                обобщение,
            </li>
            <li>практическое моделирование.</li>
        </ul>
    </article>

    <footer>
        <p>Янчилин Илья Дмитриевич <br> ВГУ им. П.М. Машерова, ФМиИТ, 2 курс 24 граппа</p>
        <div class="links">
            <a href=""><img src="~/Content/img/github.png" alt="" class="icon"></a>
            <a href=""><img src="~/Content/img/google-drive.png" alt="" class="icon"></a>
        </div>
    </footer>
</body>
</html>