@{
//Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link href="~/Content/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/Content/icon.png" type="image/png">
</head>
<body>
    <header>
        <a href="/" class="logo">
            <h1>
                Booking
            </h1>
        </a>
        <nav>
            <ul class="nav">
                <a href="/catalog">
                <li class="nav-item">Каталог</li></a>
                <a href="/booked">
                <li class="nav-item">Мои номера</li></a>
                <a href="/Account/Login">
                <li class="nav-item">Войти</li></a>
                <a href="/Account/Signin">
                <li class="nav-item">Зарегистрироваться</li></a>
            </ul>
        </nav>
    </header>

    <article>
       booked
    </article>

    <footer>
        <p>Янчилин Илья Дмитриевич <br> ВГУ им. П.М. Машерова, ФМиИТ, 2 курс 24 граппа</p>
        <div class="links">
            <a href=""><img src="~/Content/img/github.png" alt="" class="icon"></a>
            <a href=""><img src="~/Content/img/google-drive.png" alt="" class="icon"></a>
        </div>
    </footer>
</body>
</html>